<%- include('partials/_header', { metatags: about.metatags }); %>

<main class="page--about">
    <section class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h1><%= about.title %></h1>
                <p><%= about.description %></p>
            </div>
        </div>
    </section>
</main>

<%- include('partials/_footer'); %>
